{% extends "base.html" %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="col-sm-6">

{% if instance.image %}
<img src="{{ instance.image.url }}" class="img-responsive" />
{% endif %}

<h1>
	{{ title }} 
	<small>
		{% if instance.draft %}
		<span style="color: red;">Draft </span>
		{% endif %}
		{{ instance.timestamp|timesince }} ago
	</small>
</h1>	

{% if instance.user.get_full_name %}
<p>Author : {{ instance.user.get_full_name }}</p>
{% endif %}

<div class="content-markdown">
{{ instance.content }} 
<hr>
<br>
</div>

</div>
{% endblock %}